body{
    margin-left:20px;
    padding-bottom: 10px;
}

.chat{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
    
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.box {
    margin-right: 40px; 
}
.btn{
    right: 50px;
}